<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="/src/client/styles/Full-transparent-background-512.png" height = 35px width = 75px>
                
            </div>
            
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Please submit the url of your article">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                
                <div id="isurl"></div>
                <div id="result"></div>
                <div id="results1"></div>
                <div id="results2"></div>
            </section>
        </main>

        <footer>
            
        </footer>
        <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
            </script>    
    </body>
    
</html>
